{% extends 'sales/main.html' %}
{% block content %}

<form method="get">
<div class="d-flex justify-content-lg-end justify-content-sm-end justify-content-md-start text-center mb-3 w-100">
    <div class="col-2" style="width: 170px;">
    <span class="text-success">{{ pf.form.code.label_tag }}</span>
    {{ pf.form.code }}
    </div>
    <div class="col-3 mx-2" style="width: 260px;">
    <span class="text-success">{{ pf.form.name.label_tag }}</span>
    {{ pf.form.name }}
    </div>
    <div class="col-auto align-self-end mx-2">
        <div class="input-group-append">
        <input type="submit" class="btn btn-dark" value="Знайти">
        <a class="btn btn-outline-dark" href="{% url 'products' %}" type="button">Оновити</a>
        </div>
    </div>
{% for group in request.user.groups.all %}
    {% if group.name == 'hometown'%}
    <div class="col-2 align-self-end ms-5">
        <button class="btn btn-success form_btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" onclick="OpenForm({% url 'create_product' %})">+Товар</button>
    </div>
    {% endif %}
{% endfor %}
</div>
</form>


<table class="my-table">
    <thead>
      <tr class="text-center">
          <th scope="col">КОД</th>
          <th scope="col">Фото</th>
          <th scope="col">Товар</th>
          <th scope="col">Кількість</th>
          <th scope="col">Ціна</th>
          <th scope="col">Заг. Ціна</th>
          <th scope="col">Дата</th>
          {% for group in request.user.groups.all %}
          {% if group.name == 'hometown'%}
          <th scope="col"></th>
          {% endif %}
          {% endfor %}
      </tr>
    </thead>
    <tbody class="text-center">
      {% for p in products %}
        <tr>
          {% if p.amount == 0 %}
            <tr class="overlay-row d-flex justify-content-center">
                <td>ПРОДАНО</td>
            </tr>
          {% endif %}
          <th scope="row">{{ p.code }}</th>
            <td>
                <button type="button" class="btn" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="<img src='{{ p.img.url }}' alt='Фото' class='popover-image'>">
                    <img src="{{ p.img.url }}" style="max-width: 60px; max-height: 40px;">
                </button>
            </td>
            <td data-bs-container="body" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-content='{{ p.name }}'>{{ p.name|truncatewords:4 }}</td>
            {% if p.amount == 0 %}
                <td>ПРОДАНО</td>
            {% elif p.amount < 4 %}
                <td>Уточнити розмір: {{ p.amount|floatformat:0 }}.од</td>
            {% else %}
                <td>{{ p.amount|floatformat:0 }}.oд</td>
            {% endif %}
            <td>{{ p.cost|floatformat:0 }}.грн</td>
            <td>{{ p.total|floatformat:0 }}.грн</td>
            <td>{{ p.date_created|date:"H:i" }}<br>{{ p.date_created|date:"d-m-Y" }}</td>
      {% for group in request.user.groups.all %}
          {% if group.name == 'hometown'%}
          <td>
          <button class="btn btn-sm btn-dark form_btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" onclick="OpenForm('{% url "update_product" p.id %}')">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" /></svg>
          </button>
          <a class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="setDeleteUrl('{% url 'delete_product' p.id %}')">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" /></svg>
          </a>
          {% include 'sales/modal.html' %}
          {% endif %}
      {% endfor %}
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
